## Weighted Sum for Out Project

In [2]:
import pandas as pd
import numpy as np

In [4]:
new_df = pd.read_csv('datasets/batter_agg.csv')
weights = np.array([0.2,0.5,0.8,0.7])

In [12]:
new_df.columns

Index(['batter', 'innings', 'total_runs', 'total_balls', 'outs', 'total_50s',
       'total_100s', 'avg_strike_rate', 'motm_count', 'orange_caps', 'average',
       'fours', 'sixes'],
      dtype='object')

In [20]:
new_df["score"] = np.sum(new_df[["innings","total_runs","outs","avg_strike_rate"]]* weights, axis=1)

In [24]:
new_df.sort_values(by="score", ascending=False).head(5)

,batter,innings,total_runs,total_balls,outs,total_50s,total_100s,avg_strike_rate,motm_count,orange_caps,average,fours,sixes,score
569,V Kohli,215,6634,5266,193,45,5,112.298264,14,1,30.855814,580,218,3593.008785
462,S Dhawan,205,6244,5083,179,47,2,108.661141,11,0,30.458537,701,136,3382.262799
430,RG Sharma,221,5881,4632,203,40,1,109.642925,18,0,26.610860,519,240,3223.850048
130,DA Warner,162,5883,4313,143,55,4,117.836638,18,3,36.314815,577,216,3170.785647
493,SK Raina,200,5536,4177,168,39,1,115.116901,14,0,27.680000,506,204,3022.981831